:root {
    --main-background: #F0DB4F;
    --secondary-background: white;
    --main-color-text: #323330;
    --main-color-border: #323330;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%; /* 1rem = 10px */
    height: 100vh;
}


